---
import "../styles/main.scss";

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import NextMatch from "../components/NextMatch.astro";
import TeamMember from "../components/TeamMember.astro";
import Gallery from "../components/Gallery.astro";
import Trophies from "../components/Trophies.astro";
import About from "../components/About.astro";
import Membership from "../components/Membership.astro";

---

<BaseLayout>

    <Hero />

    <section class="float-start w-100 body-part pt-5">
        <NextMatch />
        <About />
        <Trophies />

    </section>

    <Gallery />
    <Membership />
    <TeamMember />

</BaseLayout>

