<div class="about-sec-home" id="ko-smo-mi">
  <span class="bgi-text light-tsext01"> About</span>
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2">
          <div class="col text-about">
          
            <h5>Istorija kluba</h5>
            <h1> Stonoteniski <span> klub </span></h1>
            <p class="my-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
            type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
            also the leap into electronic typesetting, remaining essentially unchanged.</p>

          <h6> It has survived <span>100+ win</span> not only five centuries, but 
            also the leap into <span>30+ tropy</span> electronic typesetting </h6>
          
          <a href="#" class="btn btn-about">postani član</a>

          </div>

          <div class="col">
            <div class="about-img">
              <img src="src/images/slika-1.png" alt="bnm"/>
            </div>
          </div>
      </div> 
    </div>

    
</div>