---
import "@fancyapps/ui/dist/fancybox/fancybox.css";

---

<div class="mediasection d-inline-block w-100">
    <div class="container">
      <div class="mindle-heading text-center">
        <h5>Galerija</h5>
        <h1>Od osnivanja <span> ... </span></h1>
      </div>
      <span class="bgi-text light-tsext01"> Galerija </span>
      <div class="row row-cols-2 row-cols-lg-4 mt-0 g-4 mt-3">
        <div class="col">
          <a data-fancybox="gallery"
            href="src/images/pexels-photo-1277397.webp"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-1277397.webp" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a data-fancybox="gallery"
            href="src/images/pexels-photo-342361.jpeg"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-342361.jpeg" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a data-fancybox="gallery"
            href="src/images/pexels-photo-13464797.jpeg"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-13464797.jpeg" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a data-fancybox="gallery"
            href="src/images/pexels-photo-5739195.jpeg"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-5739195.jpeg" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a data-fancybox="gallery"
            href="src/images/pexels-photo-13464785.jpeg"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-13464785.jpeg" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a data-fancybox="gallery"
            href="src/images/pexels-photo-12189141.jpeg"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-12189141.jpeg" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a
            data-fancybox="gallery"
            href="src/images/pexels-photo-2440324.jpeg"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-2440324.jpeg" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a
            data-fancybox="gallery"
            href="src/images/pexels-photo-12806375.webp"
            class="comon-links-divb05"
          >
            <figure>
              <img src="src/images/pexels-photo-12806375.webp" alt="pbnm" />
              <figcaption>FGC CUP 2022</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>

  <script>
    import { Fancybox } from "@fancyapps/ui";

    Fancybox.bind('[data-fancybox="gallery"]', {});
  </script>