<section class="float-start w-100 banner-part">
  <div class="slider-banner">
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="src/images/bg-bangh.jpg" alt="images not found" />

          <div class="cover">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div class="header-content">
                    <h1>
                      Dobrodošli!
                       <span class="d-lg-block"
                        >Stk Podunavlje
                      </span>
                    </h1>
                    <p>
                      U toku je upis novih članova uzrasta od 7 do 14 godina
                    </p>
                    <a href="#postani-clan" class="btn">
                      Postani član
                    </a>
                  </div>
                </div>
                <div class="col-lg-5">
                  <img
                    src="src/images/slika-1.png"
                    class="baner014"
                    alt="images not found"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="src/images/bg-bangh2.jpg" alt="images not found" />

          <div class="cover">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div class="header-content">
                    <h1>
                      Dobrodošli!
                      <span class="d-lg-block">Stk Podunavlje </span>
                    </h1>
                    <p>Saznaj kako je nastao klub</p>
                    <a href="#ko-smo-mi" class="btn">
                      Više o nama
                    </a>
                  </div>
                </div>
                <div class="col-lg-5">
                  <img
                    src="src/images/slika-1.png"
                    class="baner014"
                    alt="images not found"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>