<div class="our-spocerder d-inline-block w-100" id="postani-clan">
    <div class="container">
      <div class="col-lg-7">
        <h6>Članstvo</h6>
        <h1>Postani član <span> Podunavlja </span></h1>
        <span class="bgi-text light-tsext01"> Članstvo </span>
        <h5 class="my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque saepe inventore odit tenetur accusantium id. Enim fugit vitae hic eveniet!
          <span class="d-lg-block">
            Lorem ipsum dolor sit amet.
          </span>
        </h5>
        <div class="comon-section01 mt-5">
          <ul>
            <li>
              <span> <i class="fas fa-check-circle"></i> </span>
              <span> Vestibulum a eros in enim </span>
            </li>
            <li>
              <span> <i class="fas fa-check-circle"></i> </span>
              <span> Nam ullamcorper lacus </span>
            </li>
            <li>
              <span> <i class="fas fa-check-circle"></i> </span>
              <span> Nam ullamcorper lacus </span>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center mt-5">
          <a href="#" class="btn subc"> Subcribe Now !</a>
          <a href="#" class="btn joinst ms-4"> Join Member </a>
        </div>
      </div>
      <figure class="m-0 right-imgplya">
        <img src="src/images/slika-1.png" alt="gnm" />
      </figure>
    </div>
  </div>