<div class="our-small-details">
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-4 g-4 g-lg-0">
        <div class="col">
          <div class="comon-divbn d-md-flex align-items-center">
            <figure>
              <img src="src/images/819590.png" alt="pnbm" />
            </figure>
            <div class="right-dibvb">
              <h2>781 +</h2>
              <h6>Matches Winery</h6>
            </div>
          </div>
        </div>
        <div class="col d-lg-grid justify-content-lg-center">
          <div class="comon-divbn d-md-flex align-items-center">
            <figure>
              <img src="src/images/2112246.png" alt="pnbm" />
            </figure>
            <div class="right-dibvb">
              <h2>1200 +</h2>
              <h6>Team Member</h6>
            </div>
          </div>
        </div>

        <div class="col d-lg-grid justify-content-lg-end">
          <div class="comon-divbn d-md-flex align-items-center">
            <figure>
              <img src="src/images/4074317.png" alt="pnbm" />
            </figure>
            <div class="right-dibvb">
              <h2>10 +</h2>
              <h6>Trained Coaches</h6>
            </div>
          </div>
        </div>

        <div class="col d-lg-grid justify-content-lg-end">
          <div class="comon-divbn d-md-flex align-items-center">
            <figure>
              <img src="src/images/1851036.png" alt="pnbm" />
            </figure>
            <div class="right-dibvb">
              <h2>15 +</h2>
              <h6>Award</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-small-back02">
      <img src="https://oxentictemplates.in/templatemonster/gambolsports/tennis/images/parallax-1.png" alt="sportsfbn" />
    </div>
  </div>