@mixin common-box-full {
    display: inline-block;
    width: 100%;
}

@mixin top-section-icon {
    width: 45%;
    height: 45%;
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    color: #FFF;
}

@mixin navbar {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fff;
    top:-10px;
    right: 0;
    font-size: 13px;
}
@mixin cart {
    width: 45px;
    height: 45px;
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    color: #182025;
    background: #f5f5f5;
    border: solid 1px #f2f0ee;
}
@mixin main-head {
    font-family: 'Signika', sans-serif; 
    color: #182025;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
}
@mixin cart-btn {
    background: #5fa318;
    color: #fff;
    & svg{
        width: 15px;
        height: 15px;
    }
}
@mixin sub-banner {
    text-align: center;
    display: grid;
    align-content: center;
    width: 100%;
    min-height:200px;
     overflow: hidden;
     & h1{
        font-family: 'Signika', sans-serif; 
        font-weight: 700;
        color: $secondary-color;
     }
}
    


@mixin cover-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@mixin common-button {
    background: #5fa318;
    color: #fff;
}
