<div class="next-match-part d-inline-block w-100">
    <div class="dots-bg"></div>
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2 g-4 g-lg-5">
        <div class="col">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="comon-headding">
              <h2>Sledeći meč</h2>
            </div>

            <a href="#" class="btn link-btn"> Upcoming Events </a>
          </div>

          <div class="comon-match-sec w-100 d-inline-block">
            <div class="comon-match-div">
              <div class="row align-items-center justify-content-center">
                <div class="col-5">
                  <div class="cul-div">
                    <figure class="m-0">
                      <img
                        src="src/images/user.png"
                        alt="club"
                      />
                    </figure>
                    <h6 class="text-center">
                      <span class="d-block"> USA </span>
                      Spartams
                    </h6>
                  </div>
                </div>

                <div class="col-2">
                  <h1 class="reuli-tc text-center">VS</h1>
                </div>
                <div class="col-5">
                  <div class="cul-div">
                    <figure class="m-0">
                      <img
                        src="src/images/user.png"
                        alt="club"
                      />
                    </figure>
                    <h6 class="text-center">
                      <span class="d-block"> UAE </span>
                      RedBull
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="num-txet-divb d-sm-flex align-items-center justify-content-between"
            >
              <h6>
                June 15, 2025 19:00 <span class="d-block">
                  adresa mesta gde se igra
                </span>
              </h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="comon-leadborad">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="comon-headding">
                <h2>Tabela</h2>
              </div>

              <a href="#" class="btn link-btn"> Svi rezultati </a>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">N</th>
                  <th scope="col">Club</th>
                  <th scope="col">W</th>
                  <th scope="col">L</th>
                  <th scope="col">PTS</th>
                  <th scope="col">PA</th>
                  <th scope="col">TD</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Avengers</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>RedBull</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>ActionX</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>YBluster</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>

                <tr>
                  <td>5</td>
                  <td>FC United</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>

                <tr>
                  <td>6</td>
                  <td>RealBlust</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>AVO Bull</td>
                  <td>23</td>
                  <td>10</td>
                  <td>20</td>
                  <td>70</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>