---
import navigations from "../api/navigations.json";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";


const siteData = {
	title: "Stk Podinavlje",
	description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, sit nemo amet fugit earum ex saepe necessitatibus at quaerat odio voluptas repellat tempore modi ut obcaecati molestiae perspiciatis repudiandae. Saepe, totam soluta explicabo rerum consequuntur magnam! Nesciunt facilis facere voluptates repellat consequatur, sed maiores placeat reprehenderit repudiandae asperiores aliquam voluptate pariatur sit voluptatum natus omnis eveniet illo consequuntur consectetur animi ex deserunt aut iste corporis. Sint dolorem impedit harum cum dolor quae, beatae labore expedita deleniti, amet recusandae quisquam velit vel ex voluptatem quasi, officia ea corrupti quos itaque. Quae aliquid aut dolores dolorum aliquam a non reprehenderit deleniti voluptate natus dolorem reiciendis excepturi, tempora expedita quo rerum eaque fugiat. Molestiae quam nemo blanditiis laudantium nulla? Distinctio provident ratione cum cupiditate error dolore veritatis inventore nam minus omnis? Nulla cupiditate dolorem eligendi facere maiores est, porro ipsum dolor nisi voluptatibus consequatur nihil ullam exercitationem praesentium inventore consectetur perferendis dolores iusto."
}

const { title = siteData.title, description = siteData.description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<title>{title}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>
	<body>
		<header class="float-start w-100">
			<Navigation />
		</header>

		<slot />

		<Footer />

		<div class="offcanvas offcanvas-end" id="offcanvasRightmobile">
			<div class="offcanvas-header py-0">
			  <button
				type="button"
				class="close-menu mt-4"
				data-bs-dismiss="offcanvas"
				aria-label="Close"
			  >
				<svg
				  xmlns="http://www.w3.org/2000/svg"
				  width="16"
				  height="16"
				  fill="currentColor"
				  class="bi bi-x-circle-fill"
				  viewBox="0 0 16 16"
				>
				  <path
					d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
				  ></path>
				</svg>
			  </button>
			</div>
			<div class="offcanvas-body">
			  <div class="head-contact d-none d-lg-block">
				<a href="index.html" class="logo-side">
					logo
				  <!-- <img src="src/assets/ttimage_1.svg" loading="lazy" alt="logo" /> -->
				</a>
				<p class="mt-4">
				  Sve informacije o klubu, upisu novih članova, radu sa decom, možete dobiti kontaktom na ostavljene linkove
				</p>
				<div class="quick-link my-4">
				  <ul>
					<li>
					  <i class="fas fa-map-marker-alt"></i>
					  <span>Stk Podunavlje - Grčka 31, Stari Banovci</span>
					</li>
					<li><i class="fa-solid fa-phone-volume"></i> <span> 180-205-2560 </span></li>
					<li>
					  <i class="fas fa-envelope"></i>
					  <span> example@gmail.com </span>
					</li>
				  </ul>
				</div>
				<ul class="side-media">
				  <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
				  <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
				</ul>
			  </div>
		  
			  <div class="head-contact d-block d-lg-none">
				<a href="index.html" class="logo-side">
					logo
				  <!-- <img src="src/assets/ttimage_1.svg" alt="logo" /> -->
				</a>
		  
				<div class="mobile-menu-sec mt-3">
				  <ul>
					{navigations.map((item: any, index: number) => (
						<li class="active-m">
					  		<a href={`${item.link}`}> {item.tab_name} </a>
						</li>
					))}
					
				  </ul>
				</div>
				<div class="quick-link">
				  <ul>
					<li><i class="fab fa-whatsapp"></i> <span> 180-250-9625 </span></li>
					<li>
					  <i class="fas fa-envelope"></i>
					  <span> example@gmail.com</span>
					</li>
				  </ul>
				</div>
				<ul class="side-media">
				  <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
				  <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
				</ul>
			  </div>
			</div>
		</div>

	</body>
</html>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
